<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/users/signin" method="post">
      <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" />
      </div>
      <br />
      <br />
      <br />
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" />
      </div>
      <br />
      <br />
      <br />
      <button type="submit">Sign-In</button>
    </form>
  </body>
</html>
