<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <% for( let i = 0; i < allProducts.length; i++ ) { %>
      <li>
        <h1><%= allProducts[i].name %></h1>
        <h1><%= allProducts[i].price %></h1>
        <h1><%= allProducts[i].stock %></h1>
      </li>
      <% } %>
    </ul>
  </body>
</html>
