<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="" />
    <title>All Products</title>
  </head>
  <body>
    <ul>
      <% for( let i = 0; i < allProducts.length; i++ ) { %>
      <a href="/products/<%= allProducts[i]._id %>">
        <li>
          <h1><%= allProducts[i].name %></h1>
          <h1><%= allProducts[i].price %></h1>
          <h1><%= allProducts[i].rating %></h1>
        </li>
      </a>
      <% } %>
    </ul>
  </body>
</html>
