<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/user" method="post">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" />
      </div>
      <br />
      <br />
      <div>
        <label for="dob">Date of Birth</label>
        <input type="date" name="dob" />
      </div>
      <br />
      <br />
      <div>
        <label for="phone">Phone</label>
        <input type="number" name="phone" />
      </div>
      <br />
      <br />
      <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" />
      </div>
      <br />
      <br />
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" />
      </div>
      <br />
      <br />
      <button type="submit">SignUp User</button>
    </form>
  </body>
</html>
