<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single User</title>
  </head>
  <body>
    <div>
      <nav></nav>
    </div>
    <h1><%= newUser.name %></h1>
    <h2><%= newUser.email %></h2>
    <h3><%= newUser.password %></h3>
  </body>
</html>
