<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/products/<%= singleProduct._id %>?_method=PUT" method="post">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= singleProduct.name %>" />
      </div>
      <br />
      <div>
        <label for="price">Price</label>
        <input type="text" name="price" value=" <%= singleProduct.price %>" />
      </div>
      <br />
      <div>
        <label for="name">Rating</label>
        <input type="text" name="rating" value="<%= singleProduct.rating %>" />
      </div>
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
