<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= singleProduct.name %></h1>
    <h1><%=singleProduct.price %></h1>
    <h1><%=singleProduct.rating %></h1>

    <a href="/products/<%= singleProduct._id %>/edit">Edit this product</a>
  </body>
</html>
